{% extends 'base.html' %}

{% block nav %}
    {% with current_page='play' %}
        {% include 'nav.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <section id="play">
        <section>
            <h1>RC Car Camera</h1>
            <img src="{{ url_for('video_feed') }}" width="640" height="480">
        </section>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script>
        document.addEventListener('keydown', function(event) {
            let command = '';
            switch (event.key) {
                case 'ArrowUp':
                    command = 'backward';
                    break;
                case 'ArrowDown':
                    command = 'forward';
                    break;
                case 'ArrowLeft':
                    command = 'left';
                    break;
                case 'ArrowRight':
                    command = 'right';
                    break;
                case ' ':
                    command = 'stop';
                    break;
                case 'Escape':
                    command = 'exit';
                    break;
            }
            if (command !== '') {
                fetch('/control', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'command=' + command,
                });
            }
        });
    </script>
{% endblock %}
